<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Asunto del correo</title>
    <style>
        /* Estilos CSS personalizados para el correo electrónico */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
        }

        strong {
            color: #333333;
            font-weight: bold;
        }

        h1 {
            color: #333333;
            text-align: center;
        }

        h2 {
            color: #ea7600;
            text-align: center;
        }

        p {
            color: #666666;
        }

        li {
            color: #666666;
        }

        .button {
            display: inline-block;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div>
    <div style="background-color: #00a499;white-space: nowrap; text-align: center; ">
        <div style="display: inline-block;vertical-align: middle;">
            <img src="https://agendabpe.sea.usach.cl/assets/img/logo-usach.png" style="width: 60px; top: 10px; margin-right: 5px; margin-left: 5px"/>
        </div>
        <h1 style="color: #f8fafc;display: inline-block;vertical-align: middle;">
            Template Backend
        </h1>
    </div>


    <div class="container">
        <h2>Has creado una cuenta con éxito.</h2>
        <div style="text-align: center">
            <img src="https://agendabpe.sea.usach.cl/assets/icon/confirm.png" style="width:64px"/>
        </div>
        <p>Estimado/a {{.UserName}},</p>
        <p>Has creado tu cuenta de manera correcta.</p>
        <p>Puedes acceder a la plataforma para ver más detalles. Haz click a continuación:</p>
        <div style="text-align: center;">
            <a href="meow emeow">
                <img src="https://agendabpe.sea.usach.cl/assets/icon/goButton.png" alt=""
                     style="width: 40px; "/>
            </a>
        </div>
        <p>Gracias por crear un gatito en el nuevo template backend.</p>
        <p><a href="{{.DirUrl}}">{{.Dir}}</a></p>
                <p>Te esperamos.</p>
        <small>Este mensaje ha sido generado automáticamente, favor no responder.</small>
    </div>

    <div>
        <div style="background-color: rgb(57, 64, 73)">
            <div style="margin: 0px auto; min-width: 320px;
            max-width: 600px;
            word-break: break-word;
          "
            >
                <div style="border-collapse: collapse; display: table; width: 600px">
                    <div
                            style="
                min-width: 320px;
                max-width: 600px;
                display: table-cell;
                vertical-align: top;
              "
                    >
                        <div style="width: 600px">
                            <div
                                    style="
                    border-width: 0px;
                    border-style: solid;
                    border-color: transparent;
                    padding: 25px 0px;
                  "
                            >
                                <div
                                        align="center"
                                        style="
                      padding-right: 10px;
                      padding-left: 10px;
                      padding-bottom: 10px;
                    "
                                >
                                    <p
                                            style="
                        margin: 0px;
                        font-size: 13px;
                        line-height: 13px;
                        font-family: Montserrat, sans-serif;
                        color: rgb(255, 255, 255);
                      "
                                    >
                                        <br/>
                                    </p>
                                    <p
                                            style="
                        margin: 0px;
                        font-size: 13px;
                        line-height: 13px;
                        font-family: Montserrat, sans-serif;
                        color: rgb(255, 255, 255);
                      "
                                    >
                                        <br/>
                                    </p>
                                    <p
                                            style="
                        margin: 0px;
                        font-size: 13px;
                        line-height: 13px;
                        font-family: Montserrat, sans-serif;
                        color: rgb(255, 255, 255);
                      "
                                    >
                                        <br/>
                                    </p>
                                    <p
                                            style="
                        margin: 0px;
                        font-size: 13px;
                        line-height: 13px;
                        font-family: Montserrat, sans-serif;
                        color: rgb(255, 255, 255);
                      "
                                    >
                                        Universidad de Santiago de Chile
                                    </p>
                                    <p
                                            style="
                        margin: 0px;
                        font-size: 13px;
                        line-height: 13px;
                        font-family: Montserrat, sans-serif;
                        color: rgb(255, 255, 255);
                      "
                                    >
                                        Departamento de Promoción Integral de la Salud
                                    </p>
                                    <p
                                            style="
                        margin: 0px;
                        font-size: 13px;
                        line-height: 13px;
                        font-family: Montserrat, sans-serif;
                        color: rgb(255, 255, 255);
                      "
                                    >
                                        <br/>
                                    </p>
                                    <p
                                            style="
                        margin: 0px;
                        font-size: 13px;
                        line-height: 13px;
                        font-family: Montserrat, sans-serif;
                        color: rgb(255, 255, 255);
                      "
                                    >
                                        <br/>
                                    </p>
                                    <a
                                            href="https://www.facebook.com/universidaddesantiago/"
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/universidaddesantiago/&amp;source=gmail&amp;ust=1715185138489000&amp;usg=AOvVaw1auVROYrVtFrA0lAYkv_y9"
                                    ><img
                                            alt=""
                                            src="https://ci3.googleusercontent.com/meips/ADKq_NbPVp8BjLYsT5buaYAtTAImpzsvlbvBUkP9GVVD7s2Ue4UVVTbXS5craDWbRLLNEsqIfqnytRI_SJVrZbAz9xlze6FolsyTT2GIeUYvWy4a5kj_xI3X4bkY=s0-d-e1-ft#https://staticcl1.fidelizador.com/usantiago/com-int/50/facebook.png"
                                            style="width: 32px; height: 32px"
                                            class="CToWUd"
                                            data-bit="iit"/></a
                                    >&nbsp;<a
                                        href="https://twitter.com/usach"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/usach&amp;source=gmail&amp;ust=1715185138489000&amp;usg=AOvVaw3YDs8ShybNitz6SZrq1V3o"
                                ><img
                                        alt=""
                                        src="https://ci3.googleusercontent.com/meips/ADKq_Nbgn60T1xQnvXE7In5p1I-Pr8Waoo6PhzdAkb1uQqkLZVt_-FAymbAv_8ZOQdU6RqQ4z4N52FCLTb1rF8BqofiQX3-JzdGxO8rGleS9ZjhQI2PFNAnpiMI=s0-d-e1-ft#https://staticcl1.fidelizador.com/usantiago/com-int/50/twitter.png"
                                        style="width: 32px; height: 32px"
                                        class="CToWUd"
                                        data-bit="iit"/></a
                                >&nbsp;<a
                                        href="https://www.youtube.com/channel/UC8s0ACVr7oPsBp2eODYyLfg"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/channel/UC8s0ACVr7oPsBp2eODYyLfg&amp;source=gmail&amp;ust=1715185138489000&amp;usg=AOvVaw0Wy99_N4b1RlQqcc63bXR1"
                                ><img
                                        alt=""
                                        src="https://ci3.googleusercontent.com/meips/ADKq_NZVZFTA0PM0zZeEu-VG5lMwenrbkkYvifYvO8a4dv_aj3qcJUMpBe7AEiqA6sLkqHzgqcZ7neU69iwRsZ7OXADwsH28NkUC5LgS-o8EtutVPKn8LPkGSTw=s0-d-e1-ft#https://staticcl1.fidelizador.com/usantiago/com-int/50/youtube.png"
                                        style="width: 32px; height: 32px"
                                        class="CToWUd"
                                        data-bit="iit"/></a
                                >&nbsp;<a
                                        href="https://www.instagram.com/usachoficial/"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/usachoficial/&amp;source=gmail&amp;ust=1715185138489000&amp;usg=AOvVaw1bG7SYjtBHWKE-ugXL7E9N"
                                ><img
                                        alt=""
                                        src="https://ci3.googleusercontent.com/meips/ADKq_NYP2rN_KCdqqjn98y0j40endc0S7GYSQgPVROTZHx_hSmOcJXZPSY3ikA3wT_OUtqrZtGGQd42WzRh3vpVdyeWV8dU7tr4qyXlYuU1Vk9cx4QVfM0sc2gw84Q=s0-d-e1-ft#https://staticcl1.fidelizador.com/usantiago/com-int/50/instagram.png"
                                        style="width: 32px; height: 32px"
                                        class="CToWUd"
                                        data-bit="iit"
                                /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>