# db config
# postgres
DB_USER_POSTGRES=postgres
DB_PASS_POSTGRES=pass_postges
DB_HOST_POSTGRES=postgres-db
DB_PORT_POSTGRES=5432
DB_NAME_POSTGRES=nombre_db

# PORT
PORT=8000

# GIN
GIN_MODE=debug # release or debug
GO_REST_ENV=dev

# JWT ALGORITHM
SIGNING_ALG=RS256

# JWT SYMMETRIC
# JWT_KEY=example comentado ya que se esta usando uno asimetrico

# JWT
PRIVATE_KEY_PATH=/app/keys/priv.pem
PUBLIC_KEY_PATH=/app/keys/pub.pem

# LOGGER
FILEPATH=/app/logs/
FILENAME=template-logs

# SAVE FILES
STORAGE_PATH=app/storage

# TIME ZONE
UTC=America/Santiago

# MAILER CONFIG
EMAIL_DIR=tu-email@gmail.com
EMAIL_PASS=tu-password-de-aplicacion
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# CORS
CORS_URLS=http://localhost:8000